#title {
    text-align: center;
}

#dropbox, #googledrive {
    width: 18rem;
}

#dropbox-quicklink,#googledrive-quicklink{
    height: 11rem;
}

.spacer{
    padding-right: 1rem;
}

#localoperations {
    position: relative;
    left: 15rem;
    top: 5rem;
}